* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  width: 100vw;
}

li {
  list-style: none;
}

a {
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 117px 0px;
}
header img {
  width: 200px;
  height: 50px;
}
header h1 {
  font-weight: 400;
  font-family: DM Sans;
}
header nav {
  width: 553px;
  text-align: center;
}
header nav a {
  font-size: 0.75rem;
  color: #901c1c;
  border-radius: 40px;
  border: 0.5px solid #C4C4C4;
  padding: 5px;
  margin-left: 4px;
}

#btn_home {
  width: 182px;
  height: 30px;
  padding: 4px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
  background-color: #DB8876;
  display: none;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  margin: 6px auto 0px;
}
#btn_home:hover {
  background-color: #901c1c;
  color: #fff;
}

.contain_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  margin-top: 75px;
}
.contain_cards .articlePhotographer {
  text-align: center;
  width: 400px;
  height: auto;
  margin-bottom: 100px;
}
.contain_cards .articlePhotographer a img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
  object-fit: cover;
}
.contain_cards .articlePhotographer a .name {
  font-size: 36px;
  color: #d3573c;
  margin-bottom: 3px;
}
.contain_cards .articlePhotographer .city {
  font-size: 13px;
  margin-bottom: 3px;
}
.contain_cards .articlePhotographer .tagline {
  font-size: 10px;
  margin-bottom: 3px;
}
.contain_cards .articlePhotographer .price {
  font-size: 11.72px;
  color: #757575;
  margin-bottom: 3px;
}
.contain_cards .articlePhotographer ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 4px;
}
.contain_cards .articlePhotographer ul li {
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  padding: 4px;
  margin-left: 5px;
  color: #901C1C;
}

#profil_header {
  width: 100%;
}
#profil_header #img_header {
  width: 200px;
  height: 50px;
}

.container_profil {
  display: flex;
  flex-direction: row;
  width: 1240px;
  height: 313px;
  background: #fafafa;
  margin: 50px auto 0px;
}
.container_profil .container_description_profil {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-left: 50px;
}
.container_profil .container_description_profil .container_description_flex {
  display: flex;
  height: 100%;
  width: 70%;
}
.container_profil .container_description_profil .container_description_flex .container_for_width {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.container_profil .container_description_profil .name_profil {
  font-size: 64px;
  color: #d3573c;
  margin-bottom: 10px;
}
.container_profil .container_description_profil .ville_profil {
  font-size: 24px;
  color: #901c1c;
  margin-bottom: 10px;
}
.container_profil .container_description_profil .txt_profil {
  font-size: 18px;
  color: #525252;
  margin-bottom: 10px;
}
.container_profil .container_img {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_profil .container_img img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.container_profil ul {
  display: flex;
  flex-direction: row;
}
.container_profil ul li {
  border: 0.5px solid #c4c4c4;
  border-radius: 12px;
  padding: 3px;
  margin-left: 3px;
  color: #8f3e3e;
}
.container_profil .container_btn {
  height: 100%;
}
.container_profil .container_btn button {
  width: 182px;
  height: 30px;
  padding: 4px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
  background-color: #DB8876;
  cursor: pointer;
  color: white;
  width: 170px;
  height: 69px;
  background-color: #901c1c;
  margin-top: 63px;
  margin-left: 120px;
}

/*# sourceMappingURL=style.css.map */
