* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  width: 100vw;
}

.main_photographe {
  padding: 0px 70px;
}

li {
  list-style: none;
}

a {
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 1170px) {
  .main_photographe {
    padding: 0px 0px;
  }
}
/* HEADER */
h1 {
  color: #901c1c;
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
  margin-right: 100px;
}

header {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 2rem;
  overflow: hidden;
}
header img {
  width: 200px;
  height: 50px;
  margin-left: 100px;
}
header nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  left: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50px;
}
header nav ul li {
  font-size: 0.75rem;
  color: #901c1c;
  border-radius: 40px;
  border: 0.5px solid #c4c4c4;
  padding: 5px;
  margin-left: 4px;
}

@media screen and (max-width: 1170px) {
  h1 {
    font-size: 1rem;
    margin-right: 0px;
  }

  header {
    margin-top: 25px;
    padding-left: 22px;
    padding-right: 22px;
    margin-bottom: 130px;
  }
  header img {
    width: 100px;
    height: 25px;
    margin-left: 0px;
  }
  header a {
    margin-bottom: 0;
  }
  header nav ul {
    top: 90px !important;
    width: 17rem;
  }
  header nav ul li {
    margin-bottom: 6px;
    font-size: 14px;
    border-radius: 11px;
    border: 0.5px solid #c4c4c4;
    margin-left: 5px;
    padding: 3px 6px;
  }
}
#btn_home {
  width: 182px;
  height: 30px;
  padding: 4px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
  background-color: #db8876;
  display: none;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  margin: 6px auto 0px;
}
#btn_home:hover {
  background-color: #901c1c;
  color: #fff;
}

.contain_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  margin-top: 75px;
}
.contain_cards .articlePhotographer {
  text-align: center;
  width: 400px;
  height: auto;
  margin-bottom: 100px;
}
.contain_cards .articlePhotographer a img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
  object-fit: cover;
}
.contain_cards .articlePhotographer a .name {
  font-size: 36px;
  color: #d3573c;
  margin-bottom: 3px;
}
.contain_cards .articlePhotographer .city {
  font-size: 13px;
  margin-bottom: 3px;
}
.contain_cards .articlePhotographer .tagline {
  font-size: 10px;
  margin-bottom: 3px;
}
.contain_cards .articlePhotographer .price {
  font-size: 11.72px;
  color: #757575;
  margin-bottom: 3px;
}
.contain_cards .articlePhotographer ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 4px;
}
.contain_cards .articlePhotographer ul li {
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  padding: 4px;
  margin-left: 5px;
  color: #901C1C;
}

#profil_header {
  width: 100%;
}
#profil_header #img_header {
  width: 200px;
  height: 50px;
  object-fit: cover;
}

@media screen and (max-width: 1170px) {
  #profil_header {
    margin-bottom: 0px !important;
    margin-left: -10px !important;
  }
  #profil_header #img_header {
    width: 170px;
    height: 40px;
    object-fit: cover;
  }
}
.container_profil {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 313px;
  background: #fafafa;
  margin: 50px auto 0px;
}
.container_profil .container_description_profil {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-left: 50px;
  background: #fafafa;
}
.container_profil .container_description_profil .container_description_flex {
  display: flex;
  height: 100%;
  width: 70%;
}
.container_profil .container_description_profil .container_description_flex .container_for_width {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.container_profil .container_description_profil .name_profil {
  font-size: 64px;
  color: #d3573c;
  margin-bottom: 10px;
  font-family: "DM Sans", sans-serif;
}
.container_profil .container_description_profil .ville_profil {
  font-size: 24px;
  color: #901c1c;
  margin-bottom: 10px;
}
.container_profil .container_description_profil .txt_profil {
  font-size: 18px;
  color: #525252;
  margin-bottom: 10px;
}
.container_profil .container_img {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_profil .container_img img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.container_profil ul {
  display: flex;
  flex-direction: row;
}
.container_profil ul li {
  border: 0.5px solid #c4c4c4;
  border-radius: 12px;
  padding: 3px 8px;
  margin-right: 6px;
  color: #901c1c;
  font-weight: 600;
  font-size: 18px;
}
.container_profil .container_btn {
  height: 100%;
}
.container_profil .container_btn button {
  width: 182px;
  height: 30px;
  padding: 4px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
  background-color: #db8876;
  cursor: pointer;
  color: white;
  width: 170px;
  height: 69px;
  background-color: #901c1c;
  margin-top: 63px;
  margin-left: 120px;
}

@media screen and (max-width: 1170px) {
  .container_profil {
    background-color: white;
    height: 100%;
    padding: 0px 10px 0px 10px;
  }
  .container_profil .container_description_profil {
    background-color: white;
    margin: 0px !important;
    margin-bottom: 52px !important;
  }
  .container_profil .container_description_profil .container_img {
    margin-bottom: 24px;
  }
  .container_profil .container_description_profil .container_img img {
    height: 110px;
    width: 110px;
  }
  .container_profil .name_profil {
    font-size: 26px !important;
  }
  .container_profil .ville_profil {
    font-size: 12px;
  }
  .container_profil .txt_profil {
    font-size: 12px;
  }
  .container_profil .container_btn {
    display: flex;
    width: 0px;
    height: 0px;
  }
  .container_profil .container_btn button {
    width: 170px;
    height: 35px;
    font-size: 18px;
    position: fixed;
    top: 660px;
    right: 100px;
    left: 50;
  }
  .container_profil ul li {
    font-size: 11px;
  }
}
.list_tri .list_tri_btn .btn_tri {
  width: 182px;
  height: 30px;
  padding: 4px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
  background-color: #db8876;
  background: #901C1C;
  color: white;
  position: relative;
  height: auto;
  padding: 20px 0px;
}
.list_tri .list_tri_btn ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list_tri .list_tri_btn ul li {
  font-size: 16px;
  border-bottom: 1px solid white;
  width: 95%;
  text-align: center;
  margin-bottom: 13px;
  padding-bottom: 10px;
}

.container_picture {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  color: #901c1c;
}
.container_picture .container_card .card_picture {
  margin-top: 71px;
  height: 300px;
  width: 350px;
  object-fit: cover;
}
.container_picture .container_card .container_card_info {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  margin-top: 10px;
}
.container_picture .container_card .container_card_info .name {
  font-size: 22px;
}
.container_picture .container_card .container_card_info .like_card {
  display: flex;
}
.container_picture .container_card .container_card_info .like_card .like {
  margin-right: 10px;
  font-size: 22px;
}
.container_picture .container_card .container_card_info .like_card i {
  cursor: pointer;
}

@media screen and (max-width: 1170px) {
  .container_picture {
    padding: 0px 10px 0px 10px;
  }
  .container_picture .container_card {
    margin-top: 10px;
  }
  .container_picture .container_card .card_picture {
    height: 190px !important;
    border-radius: 5px;
  }
  .container_picture .container_card .name {
    font-size: 14px !important;
  }
  .container_picture .container_card .like {
    font-size: 14px !important;
  }
  .container_picture .container_card i {
    font-size: 14px !important;
  }
  .container_picture .container_card .card_picture {
    margin-top: 10px !important;
  }
}
#formContact {
  display: none;
}

.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  background: white;
}
.bg .formulaire {
  display: flex;
  flex-direction: column;
  height: 730px;
  width: 669px;
  font-family: "DM Sans", sans-serif;
  border-radius: 5px;
  background-color: #db8876;
  margin: auto;
  margin-top: 31px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  padding: 35px;
  line-height: 50px;
}
.bg .formulaire .header_formulaire {
  display: flex;
  justify-content: space-between;
}
.bg .formulaire .header_formulaire h2 {
  font-size: 42px;
  margin-bottom: 20px;
}
.bg .formulaire .header_formulaire #close {
  cursor: pointer;
  font-size: 40px;
  color: white;
}
.bg .formulaire .header_formulaire #namePh {
  font-size: 42px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.bg .formulaire input {
  height: 110px;
  border: none;
  border-radius: 5px;
}
.bg .formulaire #message {
  height: 200px;
}
.bg .formulaire button {
  background: #901c1c;
  width: 170px;
  height: 69px;
  margin-top: 17px;
  border: none;
  border-radius: 5px;
  color: white;
}

#error_message {
  color: black;
  padding: 10px;
  font-size: 0.9rem;
  display: none;
  line-height: initial;
  color: #770303;
}

@media screen and (max-width: 1170px) {
  .formulaire {
    width: 100% !important;
    height: 100% !important;
    margin-top: 0px !important;
    padding: 35px 20px 35px 20px !important;
  }
  .formulaire input {
    height: 70px !important;
  }
  .formulaire #message {
    height: 200px !important;
  }
  .formulaire .position_btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .formulaire h2 {
    font-size: 36px !important;
  }
  .formulaire #close {
    font-size: 34px !important;
  }
  .formulaire #namePh {
    font-size: 36px !important;
  }
  .formulaire button {
    height: 35px !important;
    width: 175px !important;
  }
}
.ligthbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: white;
  z-index: 100000;
  overflow: auto;
}

.lightbox__loader {
  width: 38px;
  height: 38px;
  opacity: 0.5;
  z-index: 10;
  background: url("../../../images/svg/loader.svg") center center no-repeat;
}

.ligthbox__next,
.ligthbox__prev {
  color: #901c1c;
  font-size: 50px;
  position: fixed;
  top: 50%;
  margin-top: -14px;
  z-index: 100001;
  right: 0;
  background: white;
}

.ligthbox__prev {
  right: auto;
  left: 0;
  left: 130px;
}

.ligthbox__next {
  right: 130px;
}

.ligthbox__close {
  color: #901c1c;
  background: white;
  font-size: 50px;
  position: fixed;
  top: 65px;
  right: 130px;
}

.ligthbox__contain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 100vh;
}

.ligthbox__contain img {
  width: 1050px;
  height: 650px;
  object-fit: cover;
}

.ligthbox.fadeOut {
  opacity: 0;
}

@keyframes animationLightBox {}
@media screen and (max-width: 1170px) {
  .ligthbox__contain img {
    width: 280px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
  }

  .ligthbox__next,
.ligthbox__prev {
    font-size: 25px;
  }

  .ligthbox__prev {
    left: 15px;
  }

  .ligthbox__next {
    right: 15px;
  }

  .ligthbox__close {
    font-size: 25px;
    top: 280px;
    right: 15px;
  }

  .ligthbox__name {
    position: absolute;
    font-size: 14px;
    z-index: 1000000;
    color: #901C1C;
    top: 532px;
    right: 565px;
  }
}
.container_tri_picture {
  display: flex;
  margin-top: 20px;
}
.container_tri_picture h2 {
  margin-right: 24px;
}
.container_tri_picture button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 182px;
  height: 30px;
  padding: 4px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
  background-color: #db8876;
  width: 170px;
  height: 56px;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  background: #901c1c;
  color: white;
  padding: 0 15px;
}
.container_tri_picture ul {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  width: 170px;
  height: 170px;
  border-radius: 5px;
  cursor: pointer;
  background: #901c1c;
  color: white;
  padding: 0 10px;
  top: 490px;
  z-index: 10;
}
.container_tri_picture ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 100%;
  border-bottom: 1px solid white;
  margin: auto;
  width: 90%;
}
.container_tri_picture ul li:nth-child(1) {
  display: flex;
  justify-content: space-between;
}
.container_tri_picture ul li:nth-child(3) {
  border-bottom: none;
}

@media screen and (max-width: 1170px) {
  .container_tri_picture {
    display: none;
  }
}
.container_end {
  width: 90vw;
  display: flex;
  justify-content: flex-end;
}
.container_end .container_like_tarif {
  width: 376px;
  height: 89px;
  position: fixed;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  border-radius: 5px;
  background: #db8876;
  color: black;
}
.container_end .container_like_tarif .contain_like {
  width: 30%;
  display: flex;
  align-items: center;
}
.container_end .container_like_tarif .contain_like #like_total {
  margin-right: 7px;
}
.container_end .container_like_tarif .contain_like i {
  font-size: 23px;
}

@media screen and (max-width: 1170px) {
  .container_end {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
