#formContact {
  display: none;
}
.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  background: white;

  .formulaire {
    display: flex;
    flex-direction: column;
    height: 730px;
    width: 669px;
    font-family: $dm;
    border-radius: 5px;
    background-color: #db8876;
    margin: auto;
    margin-top: 31px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    padding: 35px;
    line-height: 50px;

    .header_formulaire {
      display: flex;
      justify-content: space-between;

      h2 {
        font-size: 42px;
        margin-bottom: 20px;
      }
      #close {
        cursor: pointer;
        font-size: 40px;
        color: white;
      }
      #namePh {
        font-size: 42px;
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }

    input {
      height: 110px;
      border: none;
      border-radius: 5px;
    }
    #message {
      height: 200px;
    }
    button {
      background: rgba(144, 28, 28, 1);
      width: 170px;
      height: 69px;
      margin-top: 17px;
      border: none;
      border-radius: 5px;
      color: white;
    }
  }
}
#error_message {
  @include errorForm;
  display: none;
  line-height: initial;
  color: rgb(119, 3, 3);
}

@media screen and (max-width: 1170px) {
  .formulaire {
    width: 100% !important;
    height: 100% !important;
    margin-top: 0px !important;
    padding: 35px 20px 35px 20px !important;

    input {
      height: 70px !important;
    }
    #message {
      height: 200px !important;
    }

    .position_btn {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    h2 {
      font-size: 36px !important;
    }
    #close {
      font-size: 34px !important;
    }
    #namePh {
      font-size: 36px !important;
    }
    button {
      height: 35px !important;
      width: 175px !important;
    }
  }
}
