#profil_header{
    width: 100%;
    
    #img_header{
        width: 200px;
        height: 50px;
        object-fit: cover;

    }
}
@media screen and (max-width: 1170px) {
    #profil_header{
        margin-bottom: 0px !important;
        margin-left: -10px !important;
        #img_header{
            width: 170px;
            height: 40px;
            object-fit: cover;
    
        }
    
    }
}

