.ligthbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: white;
  z-index: 100000;
  overflow: auto;
}

.lightbox__loader {
  width: 38px;
  height: 38px;
  opacity: 0.5;
  z-index: 10;
  background: url("../../../images/svg/loader.svg") center center no-repeat;
}
.ligthbox__next,
.ligthbox__prev {
  color: #901c1c;
  font-size: 50px;
  position: fixed;
  top: 50%;
  margin-top: -14px;
  z-index: 100001;
  right: 0;
  background: white;
}
.ligthbox__prev {
  right: auto;
  left: 0;
  left: 130px;
}

.ligthbox__next {
  right: 130px;
}

.ligthbox__close {
  color: #901c1c;
  background: white;
  font-size: 50px;
  position: fixed;
  top: 65px;
  right: 130px;
}
.ligthbox__contain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 100vh;
}
.ligthbox__contain img {
  width: 1050px;
  height: 650px;
  object-fit: cover;
}

.ligthbox.fadeOut {
  opacity: 0;
}

.ligthbox__name{
  position: absolute;
  z-index: 1000000;
  font-size: 14px;
  top: 730px;
  left: 200px;
  color: red;
}

@keyframes animationLightBox {
  from {
  }
}

@media screen and (max-width: 1170px) {
  .ligthbox__contain img {
    width: 280px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .ligthbox__next,
  .ligthbox__prev {
    font-size: 25px;
  }
  
  .ligthbox__prev {
    left: 15px;
  }
  .ligthbox__next {
    right: 15px;
  }
  .ligthbox__close {
    font-size: 25px;
    top: 280px;
    right: 15px;
  }
  .ligthbox__name{
    color: #901C1C;
    top: 532px;
    right: 565px;
  }
  
}
