.container_picture {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  color: rgba(144, 28, 28, 1);

  .container_card {
    .card_picture {
      margin-top: 71px;
      height: 300px;
      width: 350px;
      object-fit: cover;
    }
    .container_card_info {
      display: flex;
      justify-content: space-between;
      font-size: 22px;
      margin-top: 10px;

      .name {
        font-size: 22px;
      }
      .like_card {
        display: flex;

        .like {
          margin-right: 10px;
          font-size: 22px;
        }
        i {
          cursor: pointer;
        }
      }
    }
  }
}
@media screen and (max-width: 1170px) {
  .container_picture {
    padding: 0px 10px 0px 10px;
  .container_card {
    margin-top: 10px;

    .card_picture {
      height: 190px !important;
      border-radius: 5px;
    }


    .name {
      font-size: 14px !important;
    }
    .like {
      font-size: 14px !important;
    }
    i {
      font-size: 14px !important;
    }

    .card_picture {
      margin-top: 10px !important;
    }
  }
}
}