.container_profil {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 313px;
  background: #fafafa;
  margin: 50px auto 0px;

  .container_description_profil {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-left: 50px;
    background: rgba(250, 250, 250, 1);

    .container_description_flex {
      display: flex;
      height: 100%;
      width: 70%;

      .container_for_width {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
      }
    }

    .name_profil {
      font-size: 64px;
      color: $colorPrimary;
      margin-bottom: 10px;
      font-family: $dm;

    }
    .ville_profil {
      font-size: 24px;
      color: #901c1c;
      margin-bottom: 10px;
    }
    .txt_profil {
      font-size: 18px;
      color: #525252;
      margin-bottom: 10px;
    }
  }

  .container_img {
    width: 30%;
    @include verticalCenter;

    img {
      border-radius: 50%;
      height: 200px;
      width: 200px;
    }
  }
  ul {
    display: flex;
    flex-direction: row;

    li {
      border: 0.5px solid #c4c4c4;
      border-radius: 12px;
      padding: 3px 8px;
      margin-right: 6px;
      color: rgba(144, 28, 28, 1);
      font-weight: 600;
      font-size: 18px;
    }
  }
  .container_btn {
    height: 100%;
    button {
      @include btn;
      cursor: pointer;
      color: white;
      width: 170px;
      height: 69px;
      background-color: #901c1c;
      margin-top: 63px;
      margin-left: 120px;
    }
  }
}

@media screen and (max-width: 1170px) {  
  .container_profil {
    background-color: white;
    height: 100%;
    padding: 0px 10px 0px 10px;

    .container_description_profil {
      background-color: white;
      margin: 0px !important;
      margin-bottom: 52px !important;

      .container_img{
        margin-bottom: 24px;
        img{
          height: 110px;
          width: 110px;
    
        }
      }
    }
    .name_profil {
      font-size: 26px !important;
    }
    .ville_profil {
      font-size: 12px;
    }
    .txt_profil {
      font-size: 12px;
    }
    .container_btn {
      display: flex;
      width: 0px;
      height: 0px;

      button{
        width: 170px;
        height: 35px;
        font-size: 18px;
        position: fixed;
        top: 660px;
        right: 100px;
        left: 50;
      }
    }
    ul{
      li{
        font-size: 11px;
      }
    }
  }
}
