#btn_home{
    @include btn;
    display: none;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    margin: 6px auto 0px;

        &:hover{
            background-color: $bgPrimary;
            color: #fff;
        }
    
}