* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  width: 100vw;
}

//variables
//colors
$bgPrimary: #901c1c;
$colorPrimary: #d3573c;
$bgSecondary: #d3573c;
$bgSecondaryTwo: #525252;
$colorSecondary: #901c1c;
//fonts
$dm: "DM Sans", sans-serif;

@mixin errorForm {
  color: black;
  padding: 10px;
  font-size: 0.9rem;
}

//mixins
@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn {
  width: 182px;
  height: 30px;
  padding: 4px;
  text-align: center;
  font-family: $dm;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
  background-color: #db8876;
}

.main_photographe {
  padding: 0px 70px;
}

li {
  list-style: none;
}

a {
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 1170px) {
  .main_photographe {
    padding: 0px 0px;
  }
}
